#landing-page {
    background-color: whitesmoke !important;
    border-radius: 15px;
    max-width: fit-content;
    min-height: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/*#bg-image {*/
/*    background: url('images/amongus-background.png');*/
/*    min-height: 720px;*/
/*    max-width: 100%;*/
/*    margin-top: -0.7rem;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.app-bg-image {
    background: url('images/amongus-background.png');
    min-height: 720px;
    max-width: 100%;
    margin-top: -0.7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-btns {
    margin-top: 2rem;
    width: 100%;
}

#clearance {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#daily-check {
    background-color: whitesmoke !important;
    border-radius: 15px;
    padding: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.no-right-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#history {
    padding: 2.5rem;
    margin-top: 1.5rem;
}

#home {
    border-radius: 15px;
    margin-bottom: 5rem;
}

.list-group-item {
    border: none !important;
}